[2020-06-14 11:57] AlexSnet opened #6 "Ca not convert model to use it with spago"
Hello, i'm trying to convert a model as it described in `README.md` in [Import pretrained model](https://github.com/nlpodyssey/spago#import-a-pre-trained-model) section.

Step 1 (building):

Just build binary as usual: `go build -o hugging_face_importer ./cmd/huggingfaceimporter/main.go`

Step 2 (converting models):

Yes, directory `~/.spago` is already created.

I found a model at hugginface - [D

[2020-06-14 23:27] matteo-grella commented on #6
Thank @AlexSnet for your report.

Fixed. The general problem is that there is no guarantee of uniformity in the names of parameters in various PyTorch serialized models.

For instance, in the `DeepPavlov/rubert-base-cased-conversational model`, instead of the expected parameter `bert.embeddings.word_embeddings.weight` we only find `embeddings.word_embeddings.weight` without the prefix `bert.`, thu

[2020-06-15 08:32] bonedaddy opened #8 "Combine Multiple Models With BERT Server?"
I'm experimenting with spago, and while attempting to start a BERT server, I noticed that it was impossible to load multiple models, and use multiple models with a single instance of a BERT server.

Is this not possible because the code to do so hasn't been written, or its not possible due to the way BERT server works?

[2020-06-15 09:34] matteo-grella commented on #8
Hey @bonedaddy,

thanks for your time experimenting with spaGO!

For now, I implemented the BERT [server](https://github.com/nlpodyssey/spago/blob/master/pkg/nlp/transformers/bert/server.go)  to work with a single model:

[code]

The server structure may be modified to support multiple models simultaneously. For example, using a map whose keys are the names of loaded models. Something like:

[code

[2020-06-15 17:48] evanmcclure opened #9 "Demo endpoint /answer responds with HTTP code 404."
The demo endpoint `/answer` responds with the HTTP code 404.

[code]

[2020-06-15 17:52] evanmcclure opened #10 "Dockerize the demo server"
Publishing the demo server as a Docker image might increase project exposure.

[2020-06-15 17:52] evanmcclure commented on #10
May I work on this task as a #good-first-issue?

[2020-06-15 17:54] matteo-grella commented on #10
Hey @evanmcclure,

Yes, it's a good idea!

[2020-06-15 17:59] matteo-grella commented on #9
Hi @evanmcclure,

could you provide some more context?

Did you follow the overall setup exactly as described in the README section "Demo for Question Answering"?

Thanks,

Matteo

[2020-06-15 18:17] evanmcclure commented on #9
Hahah. Silly me. I missed a step. I guess that's what I get for multi-tasking between corporate training and other things.

[2020-06-15 18:17] #9 closed

[2020-06-15 22:20] #10 closed

[2020-06-15 23:33] evanmcclure opened #12 "Rename Docker container image tags"

[2020-06-15 23:39] #12 closed

[2020-06-16 00:07] bonedaddy commented on #8
Ah I see. Is there any reason why it wouldn't be advantageous to run the requests made to the BERT server against multiple models, and in cases like `answer` requests, the client-side application could then use whatever response has the highest confidence score.

It would allow you to either initiate the BERT server with one model, or more than one model and have pseudocode like this:

var answers

[2020-06-16 00:51] bonedaddy opened #14 "BERT Server Prediction Doesn't Seem To Work"
I'm attempting to use the BERT server, and have successfully gotten the `/answer` API call to work. I can't seem to find much information on `BERT prediction` in general, but I'm guessing its used to predict what the next sentence will be?

Based on this I tried sending a JSON request to the `/predict` route like so, but it gives an empty response:

[code]

Contrast this with `discriminate` which

[2020-06-16 07:06] bonedaddy opened #16 "Better BERT Server Capabilities"
(apologies if the many issues are annoying, really liking the library so far)

# Overview

Right now when using the BERT server, a set of defaults are used without any control from the user:

* HTTP server lacks customizability
* HTTP server listens on `0.0.0.0`
* No ability to enable TLS

Additionally it's not possible to build "external servers" as the functions used by the BERT http router (`di

[2020-06-16 10:49] matteo-grella commented on #16
Dear @bonedaddy,

many thanks for your suggestions.

Please go ahead with your PR!

I know that @evanmcclure  also plans to improve the server, including:

- Return the elapsed time it takes to complete an API function in the results, in order to compare implementations, doc sizes, models, etc.

- Support HTTPS by default, to maintain best practices in delivering cloud-native applications.

What a

[2020-06-16 14:07] alikhil opened #17 "Will spago support other languages?"
Cool project! I wonder if spaGO will support other languages? For example Russian?

[2020-06-16 15:49] evanmcclure commented on #16
Let's do it.

On Tue, Jun 16, 2020 at 3:49 AM Matteo Grella <notifications@github.com>
wrote:

[2020-06-16 16:48] evanmcclure opened #18 "Return the elapsed time it takes to complete an API function in the results"
Return the elapsed time it takes to complete an API function in the results, in order to compare implementations, doc sizes, models, etc.

[2020-06-16 16:48] evanmcclure opened #19 "Support HTTPS by default"
Support HTTPS by default, to maintain best practices in delivering cloud-native applications.

[2020-06-16 20:02] evanmcclure commented on #19
Here is a list of flags I propose adding to the servers in order to support TLS.

`-address` - changes the bind address. The default is "0.0.0.0:1987".
`-tls-disable` - specifies that TLS is disabled. TLS is enabled by default.
`-tls-cert-file` - specifies the path of the TLS certificate file. A custom CA certificate may be used by concatenating it to the primary certificate. The default path will

[2020-06-16 23:05] bonedaddy commented on #16
Slack works for me, although my personal preference is discord.  email me slack invite postables@rtradetechnologies.com, or a discord handle

[2020-06-17 10:32] #18 closed

[2020-06-17 14:42] matteo-grella commented on #19
@evanmcclure, I'm all for it!

Before making a pull request, would you like to rebase on the `main`? The server has been slightly changed here #21.

[2020-06-17 15:04] evanmcclure commented on #19
👍

On Wed, Jun 17, 2020 at 7:42 AM Matteo Grella <notifications@github.com>
wrote:

[2020-06-17 16:47] evanmcclure commented on #17
It appears Wordpiece Model is used for tokenization. I believe it should support most languages.

[2020-06-17 19:03] #19 closed

[2020-06-17 21:05] matteo-grella opened #24 "Go.mod inside cmd sub-packages?"
Pull-request #22 introduced something I wasn't aware of. What are the pros and cons to have a dedicated `go.mod` inside a cmd sub-package, like [here](https://github.com/nlpodyssey/spago/blob/main/cmd/huggingfaceimporter/)?

In my understanding, this is a good way to avoid adding global dependencies that are actually only required in `cmd`. Cons?

@paralin

[2020-06-17 21:13] paralin commented on #24
That was my motivation to putting it there, to keep the cli packages out of the global deps.

However... We could move the CLI arguments to a package `spago/cli` and remove the extra `go.mod` and just allow the CLI packages to be part of the package deps, I don't think there's much of a downside.

[2020-06-17 21:40] paralin opened #25 "Recommendations for CLI sub-commands"
Here are some commands that could be in an "auto-demo" cli:

 - importer: the existing downloader we have now
 - answer: question/answer demo, imports a model + runs the demo interactively or with cli flags for the question and passage.
 - more optionally interactive "run it one off" commands

Thoughts?

[2020-06-17 21:45] #6 closed

[2020-06-17 22:25] evanmcclure opened #26 "Port new CLI flags strategy from hugging_face_importer to bert_server and ner-server"
The strategy used to handle CLI flags in hugging_face_importer should be ported over to bert_server and ner-server.

[2020-06-17 22:26] evanmcclure opened #27 "Add TLS support to ner-server"
The ner-server should support TLS by default like bert_server.

[2020-06-17 22:59] evanmcclure commented on #25
Interesting.

I’ve seen auto demos used by sales engineers.

I’ve never used one in my own explorations. Instead, as a developer, I found that exploring the commands and learning about their interactions in an unopinionated way made more sense to me.

I love the idea of combining all of the demo programs into one program that uses sub commands, though.

[2020-06-18 18:59] matteo-grella commented on #14
The operation of these APIs is not what you've guessed. My bad, I didn't describe APIs in the README yet.

### Predict

`predict` performs a prediction based on a trained **Masked Language Model** (MLM).
In short, MLM is a fill-in-the-blank task, where the objective is to use the context words surrounding a `[MASK]` token to try to predict what that `[MASK]` word should be.

To try the `predict` A

[2020-06-18 21:20] matteo-grella commented on #16
I'd say we've implemented everything discussed here on the BERT server.

I'm closing this issue.

[2020-06-18 21:20] #16 closed

[2020-06-18 23:38] bonedaddy commented on #14
Woah that's really cool :O

[2020-06-19 05:48] bonedaddy commented on #14
I'm trying out the prediction now and for some reason am getting a result like this:

[code]

Text I tried predicting:
[code]

model used: `deepset/bert-base-cased-squad2`

[2020-06-19 06:32] #26 closed

[2020-06-19 06:59] matteo-grella commented on #14
This is because the model `deepset/bert-base-cased-sqad2` is **fine-tuned** for question-answering on the [SQuAD2.0](https://rajpurkar.github.io/SQuAD-explorer/) dataset.

As a consequence of fine-tuning, some layers used during the so-called **pre-training** phase in which the BERT model is trained to learn language patterns (or in other words to become a [super-parrot](https://medium.com/@Elemen

[2020-06-19 16:39] #27 closed

[2020-06-19 16:41] matteo-grella opened #31 "Create a simple website"
@evanmcclure what do you think about a simple landing page?

[2020-06-20 16:29] evanmcclure commented on #31
I think it's a great idea. What are your thoughts about the design of the landing page?

[2020-06-20 16:48] evanmcclure opened #32 "Verify integrity of models fetched from the Interwebs"
Currently, models that are fetched from remote sources are uncompressed without having their integrity verified. Models fetched from remote sources should be verified first, using checksums that are published with the models.

[2020-06-22 03:06] paralin commented on #25
Closing for now

[2020-06-22 03:06] #25 closed

[2020-06-24 17:39] evanmcclure opened #33 "Use static linking when building Go binaries for Docker image"
This will create larger binaries. However, the Docker base image can be swapped out for a distroless image such as scratch, which will make the resulting Docker image smaller.

One aspect to consider is whether the CGO versions of dependencies are used, as this can effect how the statically linked binaries are built.

[2020-06-25 15:47] evanmcclure commented on #33
In case you're interested, here's an excellent, recent article about building Go binaries statically. It includes useful info about CGO and cross-compilation, too.

https://golangnews.org/2020/04/statically-compiling-go-programs-2/

[2020-06-25 20:11] #33 closed

[2020-06-25 23:52] evanmcclure opened #35 "Implement gRPC as an alternative to HTTP API"

[2020-06-26 19:57] evanmcclure commented on #35
To keep things simple, we'll use a new port for gRPC, and we'll add a new flag to change the bind-address. The flag will be called `--grpc-address`, and the default value will be "0.0.0.0:1976".

This necessarily implies that there will be two separate handlers for every API, but they will invoke the same API function.

[2020-06-26 19:59] matteo-grella commented on #35
Yeah, I agree.

[2020-06-26 21:58] evanmcclure commented on #31
I like the simple layout of the website for the gRPC open-source project (https://grpc.io).

[2020-06-27 03:47] #24 closed

[2020-06-27 16:18] evanmcclure opened #36 "Restructure README"

[2020-06-27 17:31] matteo-grella commented on #36
Agree, it's time to make it more professional.

[2020-06-27 19:00] evanmcclure opened #37 "Support mTLS authentication and authorizaton"
Add support for optional certificate-based mTLS authentication and authorization.

[2020-06-27 19:02] anthcor opened #38 "Running hugging_face_importer from docker container causes strange behavior"
I was following instructions to test the [question answering demo](https://github.com/nlpodyssey/spago#demo-for-question-answering) and noticed that the container never completed by outputting the spago model and left a zombie python process running on my machine (a mid-2013 MacBook Pro 2.3 ghz quad core i7, 16 gb ddr3). Here are steps to reproduce:

[code]

In another shell session I was inspecti

[2020-06-28 21:39] evanmcclure commented on #38
Thanks for the report @anthcor . I'll take a look.

[2020-06-28 22:13] #35 closed

[2020-06-28 22:52] evanmcclure opened #41 "Make gRPC client print YAML by default"
Make the gRPC client output pretty and easier to read, by printing the API responses in YAML format. Add a flag to optionally print the API responses in JSON format.

[2020-06-30 01:43] evanmcclure commented on #38
I found a slightly different issue with running the importer in a Docker container. The program terminates prematurely and the model is never fully imported.

[2020-07-01 16:05] evanmcclure opened #43 "Publish godocs to https://pkg.go.dev"
Some of the content in the README can be republished as Godocs to https://pkg.go.dev. (The original site was https://godoc.org). A badge should be placed in the README that points to the godocs.

Adding a package should be as simple as searching for the docs, as described below (https://go.dev/about).

[code]

[2020-07-01 19:09] #41 closed

[2020-07-06 00:31] paralin commented on #38
It might be a problem with using the `/tmp` path. Try using a disk-backed path.

[2020-07-26 07:48] #36 closed

[2020-07-29 11:01] #43 closed

[2020-09-18 06:18] x0rzkov opened #46 "Other integration / Telegram Bot"
Hi guys,

Hope you are all well !

I was looking for some implementation of AI chatbot golang and found your project `spago`.

And, I am developing a multibot for telegram based on go plugins: https://github.com/paper2code/telegram-multibot

So I was wondering how can I integrate `spago` as a QA bot plugin.

Do you have any insights or advices for such integration ?

Thanks in advance.

Cheers,
X

[2020-09-18 09:17] matteo-grella commented on #46
Hey @x0rzkov,

The first thing that comes to mind that you could integrate with a minimum of effort, is a search module on some pre-indexed FAQs.

Thanks to the BERT sentence encoding using [Google's LaBSE model](https://ai.googleblog.com/2020/08/language-agnostic-bert-sentence.html), the chatbot would find the right answer both for questions posed in different words from those provided in "canoni

[2020-09-18 09:23] x0rzkov commented on #46
@matteo-grella thanks for your reply

For sure, I am interested. :-)

How do you train `spago` on specific questions/answers ?

Ps. I already made telegram QA bot for Arxiv.org papers paper2code/telegram-qa-with-arxiv-papers where I ingested the dataset with the help of the haystack framework.

[2020-10-25 21:55] matteo-grella opened #49 "Not very robust update of Mean and StdDev in BatchNorm"
A second thought about the recent fix of the BatchNorm (#48) raises an interesting question.

It is the first time that it happens that during a forward, the parameters are directly altered (in this case Mean and StdDev):

https://github.com/nlpodyssey/spago/blob/cb6bad4ccf503bdafe0fde13510ba8868e830c3d/pkg/ml/nn/normalization/batchnorm/batchnorm.go#L80

In general, I believe that the `Optimizer`

[2020-10-25 22:29] matteo-grella commented on #46
@x0rzkov thank you for your patience!

I am very busy in this period but I will do my best to answer you in the coming days.

Have you meanwhile managed to run spagGO following the [instructions](https://github.com/nlpodyssey/spago/wiki/Demos#question-answering-demo) for the Question&Answering demo?

[2020-10-27 13:25] jjviana commented on #49
I am trying to think about other layers that could have this kind of need (updating parameters without gradient computation). As far as I can see, BatchNorm is the only layer that actually needs that.
Saving the values inside Processor would just move the place where values are accumulated, without changing the fact these changes are not produced by an optimizer.
If you want to keep the Optimizer

[2020-10-28 20:39] JusticeN commented on #31
we can just create a repository and start the website and documentation in a separate repository.
we can use [Hugo ](https://github.com/gohugoio/hugo) to edit and build the page. then host it here on Github. as mentioned on the [GitHub ](https://pages.github.com) page it just has to be the same name as the repo owner.

something like `spago.github.com` will be great

[2020-10-28 20:42] JusticeN commented on #31
or even better like the hugo documentation see [https://github.com/gohugoio/hugo#the-hugo-documentation](https://github.com/gohugoio/hugo#the-hugo-documentation)

own repo for the doc and add it as git subtree in the main spago repo

[2020-11-02 08:29] HaoRan98 opened #51 "bert train"
I want to generate my own bert model,but I'm not sure how to train my corpus,Could you make out a tutorial,I am a rookie in the GO  : (

[2020-11-03 14:42] matteo-grella commented on #51
Hey @HaoRan98, don't worry I am here to help :)

When you talk about training your own BERT model, what are you referring to? Do you want to train a language model from scratch or do you want to fine-tune BERT on a particular task?

[2020-11-03 15:06] HaoRan98 commented on #51
I want to train a language model from scratch,just like chinese.

[2020-11-03 21:46] matteo-grella commented on #51
**Quick answer**
Unfortunately, spaGO does not support BERT's language model training at the moment.

**Long answer**
I wrote the code for training a BERT language model in spaGO. You can find it [here](https://github.com/nlpodyssey/spago/blob/main/pkg/nlp/transformers/bert/trainer.go), and I'll write a tutorial with an example soon.

However, that could only be used for educational purposes, to u

[2020-11-04 00:53] HaoRan98 commented on #51
Thank you very much. I will take more try.

[2020-11-17 07:40] #51 closed

[2020-11-25 17:13] xiorcale opened #53 "float32 data type"
This is just a question out of curiosity but: Do you have any plans to support the `float32` data type (or any other types, like integers actually)?

- It is very common to train a neural network with a `float32` precision, as it reduces the computation cost without having any significant impact on the accuracy, and I was wondering what would be the speed gain for spago?
- I was thinking about som

[2020-11-26 15:08] matteo-grella commented on #53
Hi @xiorcale,

You have raised a very interesting point. When I started writing spaGO, I used `float64` without thinking about it too much. I thought it was a safe choice not to find myself with precision issues any later.

However, as you say, PyTorch and other ML frameworks use `float32` by default as the impact in neural models is negligible. In fact, when loading pre-trained Hugging Face model

[2020-11-26 15:18] matteo-grella commented on #53
@jjviana do you have any opinion here?

[2020-11-26 15:32] matteo-grella commented on #49
I've thought about it a lot and I agree with you: it doesn't make sense to change the general optimization mechanism only for this isolated case.

Please give me one last confirmation, and I will update the `BatchNorm` documentation explaining this peculiarity and referring to this conversation.

[2020-11-26 16:17] matteo-grella commented on #53
@marco-nicola

[2020-11-28 16:30] xiorcale commented on #53
For me it would make sense to have a "typed matrix", which can be whatever the user requires (`float64`, `float32`, `int`, ...). Maybe some inspiration can be taken from https://github.com/gorgonia/tensor?

Regarding contribution, I'm not sure to find the time right now and I probably need to explore spago a bit more before trying to modify it, but if I find anything worth contributing, be sure I'

[2020-12-03 10:25] xiorcale opened #54 "Chaining convolution+maxpooling layers"
From what I found, one can create a 1-convolution cnn with the `cnn.NewModel` which will look like this:

- convolution
- max pooling
- linear layer

There is also the `convolution.New` function which creates a new convolution. But how should I proceed if I want to create a bigger model by chaining multiple conv and max pooling before adding a linear layer? e.g. :

- conv1
- max pooling
- conv2
-

[2020-12-04 11:33] matteo-grella commented on #54
Hey @xiorcale,

Thank you very much for opening this issue!

Following your proposal, we now have a [pooling layer](https://github.com/nlpodyssey/spago/blob/main/pkg/ml/nn/pooling/pooling.go).

So we are getting closer to what you expect :) We may even eliminate the [cnn](https://github.com/nlpodyssey/spago/tree/main/pkg/ml/nn/cnn) package soon!

However, to create this CNN model using only `nn.St

[2020-12-04 11:53] xiorcale commented on #54
Woah thanks! it looks good.

Regarding the `concatFilters` problem, I'm not sure I would put this functionality in the `pooling` package. It is very common to just have a `flatten` layer on its own (e.g. https://pytorch.org/docs/stable/generated/torch.nn.Flatten.html).

If you choose this approach, I think the final `stack` should look like that:

[code]

With maybe (?) some configuration paramete

[2020-12-04 12:40] xiorcale commented on #54
Closing it since https://github.com/nlpodyssey/spago/commit/eeefc92f9538d8e8d9fccdca8e43b055b29abefc has been merged. Thanks 🎉

[2020-12-04 12:40] #54 closed

[2020-12-05 15:53] go-dockly opened #55 "This is the best thing since sliced bread"
Hello I do not have any issue so feel free to close this but I just wanted to say that spago is fantastic.
Love what has been done here in native go!!!
Thank you everybody involved.
FORZA ITALIA

[2020-12-05 16:04] matteo-grella commented on #55
Thank you so much for this feedback, I really appreciate it!

How did you get on this repository?

By the way, if you could mention spaGO on any of your channels or social networks, I'd also appreciate this:)

[2020-12-05 16:12] go-dockly opened #56 "Is it possible to pre-load passages from csv?"
Is it currently possible to preload let's say the [go faq](https://github.com/buckhx/gobert/blob/master/examples/semantic-search/go-faq.csv) and run semantic search on the passages by only providing questions to spage squad2 in order to create behavior like shown in this video [semantic-search](https://asciinema.org/a/259849?t=10s)

If not yet could you give me some pointers to dig into it?

Thank

[2020-12-05 17:00] go-dockly commented on #55
Ciao Matteo, I am working on a personal voice assistant in go. I hope to create the first open source cross platform voice agent you can just run on your own CPU without evil corp snopping up all your privacy :) so from time to time I search for golang bert in google to improve my custom feedforward intent classification net and came across this tutorial from [Anthony Corletti](https://www.anthony

[2020-12-05 17:10] go-dockly commented on #55
I shared the love in golang nuts on linkedin ;-)

[2020-12-05 17:53] matteo-grella commented on #56
Dear Sven,

Yes, it's pretty immediate to use spaGO to get the goal you want.

Between tonight and tomorrow, I'll add an example on spaGO for a tiny FAQ search using a text similarity technique to semantically compare a user's question with a "canonical" FAQ question.

I'll let you know as soon as I'm done here.

In detail, I will use the BERT encoder to load [LaBSE](https://ai.googleblog.com/2020

[2020-12-05 22:38] go-dockly commented on #56
That is pretty impressive. I tried SuperFAQ it works really well :-)
Although I can not just share the code of my project just yet as it is not on a state I am satisfied with I want to just paste an image here so you can get an impression of what I am doing.

![screenshot](https://user-images.githubusercontent.com/65399458/101266785-a8933e00-3752-11eb-91dd-c5db4db6f13e.png)

I will check it tomorr

[2020-12-08 00:14] matteo-grella commented on #56
Thanks for sharing your project. It's really ambitious!

I've been extremely busy these days so you'll have to wait a few more days for the text-similarity demo.

Ps. about Go, I feel it as if it was custom made for me, that is the exact opposite of my feelings towards Python 🤫

[2020-12-08 06:19] go-dockly commented on #56
totally understandable. If we could just do what we want he :)
Ps as the saying goes: if you do not like programming you should try python ahahaha.
Have a nice day today!

[2020-12-08 07:14] go-dockly commented on #56
I think spaGO is ready for a release tag too so one can reliably manage it through go mod :)

[2020-12-08 07:17] #55 closed

[2020-12-08 07:18] matteo-grella commented on #56
@go-dockly feel free to open a separate issue for that (release tag/versioning) so we can jointly discuss with other members.

Thanks

[2020-12-08 14:28] go-dockly opened #57 "create first tag for release"
Hi - In order to manage spaGO as a [versioned dependency](https://research.swtch.com/vgo-principles) in my go project it would be appreciated if a first tagged release was made available.

[2020-12-09 13:42] marco-nicola commented on #57
Hi, thanks for opening this issue.

That's a very good point. We will soon create a first tagged release `v0.1.0`.

Most of the public API should remain stable in the near future, yet the likelihood of major refactorings is not negligible. For this reason, we'll probably stick to a `0` major version for a while, only bumping new minor versions, even in case of breaking changes (see also [SemVer re

[2020-12-09 13:49] go-dockly commented on #57
Thank you Marco!

[2020-12-09 14:14] matteo-grella commented on #57
Here we go with our first tagged release [v0.1.0](https://github.com/nlpodyssey/spago/releases/tag/v0.1.0)!

[2020-12-09 14:14] #57 closed

[2020-12-10 03:25] jjviana commented on #53
As long as spago is cpu-only, I don't see a lot of advantages of moving to float32 (except maybe memory space).
x86 supports doubles natively and will execute floating point instructions in 64 bits with the same speed as 32 bits.
If GPU support is required then it is a completely different story, but that would also mean a larger refactoring.

[2020-12-15 14:54] go-dockly opened #63 "Error handling"
Hey Guys,
I saw that there are 227 uses of panic in 87 files and I do understand your motivation behind it.
Go's implicit error returns stand in the way of function chaining youd like to achieve
eg gx := r.x1.Value().(*mat.Dense).MulT(gy)
Let's assume MulT can panic inside the backward scope but that panic should recover in eg the graph wrapper scope
[This should explain bit better what I mean](ht

[2020-12-19 22:15] gedw99 opened #66 "Accelerators"
There is a ton of work being done with risc-v and machine learning accelerators

tinygo makes it’s possible to leverage spago on these accuracies I feel.

Just wanted to point this out as I saw in your Q&A that you felt it was not possible to accelerate spago

[2020-12-20 23:48] matteo-grella commented on #66
Hey @gedw99,

Thanks for the tip!

In fact, getting into this industry could be a turning point for spaGO.

If you have in mind any specific resources to point me to, I would appreciate it:)

[2020-12-20 23:59] matteo-grella commented on #63
I actually think there's a lot of room for improvement on that front! However, I wonder how to recover an error in case of a size mismatch, for example.

If I understand you correctly, you want to recover the panics generated inside the [auto-grad functions](https://github.com/nlpodyssey/spago/tree/main/pkg/ml/ag/fn) (and in turn by mathematical functions) at the `ag.Graph` level.

Would you like

[2020-12-21 00:03] matteo-grella commented on #49
I am closing this issue as we discussed it in a call.

[2020-12-21 00:03] #49 closed

[2021-01-10 19:49] marco-nicola commented on #53
Hey,
we have some news on this topic.

We tried to replace float64 with float32 on the whole project, and it turned out that many high-level tasks (e.g. BART and BERT classifications) execute in almost half of the time!

While single operations performance didn't probably change much, not to mention that we are still converting values to float64 for using functions from Go's `math` package, more d

[2021-01-10 20:30] xiorcale commented on #53
Wow, this looks really promising, I'm glad to hear about these results 🎉

I'm not really surprised about the accuracy staying the same, but I was really curious to see the impact regarding execution time, which seems to be significant enough to make your work worth it 😉

Actually, I don't have much to add, as you pretty much summarized it: without generic, switching the type at runtime is probably

[2021-01-11 21:43] jjviana commented on #53
This looks really promising indeed!
This is one of the cases where theory and practice diverge - in theory,
there should be not a lot of improvement in speed by going from float64 to
float32 (given the underlying operations are 64bit anyway), but in
practice, the memory access pattern improvements make it worth it.

I agree that creating two separate packages is probably the best way of
doing that

[2021-01-27 12:05] nikolaydubina opened #93 "Benchmarks vs numpy, scipy, sklearn, Pytorch"
Did you guys compare this library for equivalent implementations in numpy, scipy, sklear, Pytorch, Tensorflow?

If GPU is not supported, you can try reporting CPU versions. AFAIK both Pytorch and Tensorflow have cpu modes for their tensor operations.

[2021-02-08 00:56] csaade opened #94 "Cannot import project as library"
Hello,

I am trying to import this project as a library by running the command
`go get -u github.com/nlpodyssey/spago`
(as instructed in the readme)

I am getting the following error:
`cannot find package "github.com/dgraph-io/badger/v2"`

Anyone else got this error?

[2021-02-08 16:59] matteo-grella commented on #94
Hi @csaade,

Thanks for pointing out this problem.

It appears that the reference to [badger](https://github.com/dgraph-io/badger/) v2 has changed or removed. Very odd indeed.

In any case, I updated the dependency to version v3 and everything seems to work smoothly now.

Can you please verify and let me know?

[2021-02-08 17:20] matteo-grella commented on #93
Hi @nikolaydubina,

Yes, that's on our TODO list.

By the way, if you had to choose, would you prefer benchmarks on single operations (e.g., matrix-vector multiplication) or on higher level tasks, like NER and Question-Answering, etc?

[2021-02-08 23:48] nikolaydubina commented on #93
Absolutely on low level tasks. I would expect people implementing their own high-level algorithms, and they would have their own benchmarks. That being said, golden standard for high-level tasks also useful, so that people will see if they are way off with their code. Thank you!

[2021-02-08 23:56] matteo-grella commented on #93
It's decided then. To start, we will make a direct comparison of the basic operators of the spaGO auto-grad package with the PyTorch ones.

Do you feel like helping on this task? Every contribution is precious :)

[2021-02-09 01:16] nikolaydubina commented on #93
Sure, I will see if I have time :)

[2021-02-09 03:51] csaade commented on #94
Hey @matteo-grella,

Thanks for your help - it's working well on my end now! However, I'm still facing some compilation issues in the huggingfaceimporter code mostly. Here are the errors:

`../go/src/github.com/nlpodyssey/spago/cmd/huggingfaceimporter/internal/importer.go:62:17: cannot use cli.StringFlag literal (type cli.StringFlag) as type cli.Flag in slice literal:
	cli.StringFlag does not impl

[2021-02-10 00:06] matteo-grella commented on #94
I'm not sure.

You couldn't report here the sequence of operations and commands that led to this error, could you?

[2021-02-14 14:35] matteo-grella commented on #94
Solved by updating the module [github.com/urfave/cli](https://github.com/urfave/cli) to v2.

[2021-02-14 14:35] #94 closed

[2021-02-15 16:13] #53 closed

[2021-05-16 12:16] marco-nicola commented on #66
We have no concrete plans for the near future in this direction, so I'm closing this issue due to inactivity. Nevertheless, as Matteo pointed out, that's an interesting area, where spaGO would fit very well. Just stay tuned; meanwhile, experimentation and suggestions are encouraged!

[2021-05-16 12:16] #66 closed

[2021-05-17 05:34] gedw99 commented on #66
no worries.

[2021-05-27 03:02] anthcor commented on #38
hey @matteo-grella, I just built spago from `v0.7.0` in docker and it worked splendidly 💯 close at your leisure 🥂

[code]

[2021-05-27 06:34] matteo-grella commented on #38
Thanks @anthcor!

[2021-05-27 06:34] #38 closed

[2021-05-27 09:30] matteo-grella commented on #14
It's working like it's supposed to.

[2021-05-27 09:30] #14 closed

[2021-05-27 10:39] matteo-grella commented on #56
@go-dockly I've made a repository with an example that's close to your question on the occasion of my talk at GopherCon Europe 2021!

You can look at [this](https://github.com/matteo-grella/gophercon-eu-2021) link and ask any additional questions or close this issue if you wish.

[2021-05-27 10:44] matteo-grella commented on #46
Hey @x0rzkov,

I've made a repository with an example that's close to your question on the occasion of my talk at GopherCon Europe 2021!

You can look at [this](https://github.com/matteo-grella/gophercon-eu-2021) link and ask any additional questions or close this issue if you wish.

[2021-05-27 18:16] x0rzkov commented on #46
thanks I ll have a look :-)

[2021-05-27 18:22] x0rzkov commented on #46
Have you tried haystack, the python framework, for QA ?

[2021-06-28 09:16] jimidle opened #97 "Loading converting PyTorch/ Lightning models"
I could not work this out directly from the code (I have only just started working with this), and I realize that there is not exhaustive documentation and examples (if this project turns out to be good for what I wish to do (train in Python, run via go), then I am willing to contribute. Your README encourages creating issues, I hope that this is the correct place to ask a question.

I am training

[2021-06-29 02:34] jimidle opened #98 "Question server example should use http not https"
The documentation for the question server indicates:

`curl -k -d '{"question": "'"$QUESTION1"'", "passage": "'"$PASSAGE"'"}' -H "Content-Type: application/json" "`__https__`://127.0.0.1:1987/answer?pretty"`

However, the URL should be __http__  or you will receive:

`curl: (35) error:1400410B:SSL routines:CONNECT_CR_SRVR_HELLO:wrong version number`

[2021-06-29 02:39] jimidle commented on #31
I would suggest Antora and ASCII doc for this. No need to start using subtrees and it can quote code from the source tree etc. ASCII doc (.adoc) files are supported natively by GitHub and Antora can publish to github pages.

[2021-06-29 03:14] matteo-grella commented on #31
Hey @jimidle,

Thanks for this!

I'm wondering if you have time to support us on this topic, using Antora and ASCII doc as you suggested.

Just in case, in [this presentation](https://speakerdeck.com/matteogrella/neural-natural-language-processing-in-go) there are a few high level code examples we may use to getting started.

Thanks again,

Matteo

[2021-06-29 03:39] jimidle commented on #31
Hi Matteo,

If I can use this code within my project, then I am happy to offer help with the project, including Setting up Antora etc to generate Github pages.

Basically, if I can load my own trained models (rather than download from HuggingFace, though that's where the models are that I base my training on), and the performance is good, then I will contribute. Definitely with documentation and a

[2021-06-29 04:44] jimidle commented on #97
I have worked out how to do this from code, once I realized I needed to save the Bert tokenizer. Now I have to explore the tokenizer from the bert model vs the Spago one. But I assume that as the vocab is loaded, it will work as advertised.

If I can use this package, then I will start to contribute, but in case anyone else looks for this, you need to do the following in Python code if you are usi

[2021-06-29 04:44] #97 closed

[2021-07-01 06:39] abasse opened #99 "Help with German zero shot"
I would like to run Sahajtomar/German_Zeroshot (https://huggingface.co/Sahajtomar/German_Zeroshot) model in spago.

The import was successful:
 ./huggingface-importer --model=Sahajtomar/German_Zeroshot --repo=./models
-> BERT has been converted successfully!

Can I now run the model with Bart server(as I believe supports the zero shot, not the Bart server)?

I receive:

bassea@AP15557 spago % ./ba

[2021-07-01 10:10] matteo-grella commented on #99
Hi @abasse

The `German_Zeroshot` uses  `GBERT` Large (German `BERT`) as base model.

Therefore, when you try to use it with the `BART` server, it gives you that error.

I think it's not hard to implement zero-shot classification with BERT (I imagine it works just like BART).

I will try as soon as I have time if you are interested.

[2021-07-01 14:32] abasse commented on #99
Thanks, do you have any recommendations for a zero shot BART model ?

[2021-07-01 19:18] matteo-grella commented on #99
@abasse do you mean a zero-shot BART model supporting German?

[2021-07-02 04:52] jimidle opened #100 "Multi-label BERT classifier from PyTorch"
So I can convert and then load my BERT model, but I am having troubling working out how to operate it from Spago.

It is a multi-label model and to use it in Python I do this:

[code]

And then process the `pred_out` array. This model has 5 outputs and all works as you expect in Python.

So, how do I perform the equivalent in Spago? Borrowing code from the classifier server, I have got this far, b

[2021-07-02 05:24] abasse commented on #99
A zero-shot BART model in English or German that I can use for testing.  I tried fascebook/bart-large-mnli, but got a runtime (runtime error: index out of range [-1])  in the console when I tried to call  http://127.0.0.1:1987/classify-nli

I'm sorry I'm pretty new to this, so any help is much appreciated :)

[2021-07-02 08:23] matteo-grella commented on #99
I thought this was documented... but nope!

In general, I use the [valhalla/distilbart-mnli-12-3](https://huggingface.co/valhalla/distilbart-mnli-12-3) model since it has good performance in both terms of efficiency and accuracy.

You can have a look at [this](https://github.com/nlpodyssey/spago-examples) repository in the meantime that I'm updating BART's README to use the API. The [zero-shot cla

[2021-07-02 11:37] matteo-grella commented on #100
Hey @jimidle,

[here](https://github.com/nlpodyssey/spago-examples/tree/main/examples/text_classification) is an application of BERT to text classification.

In the example I used the [ProsusAI/finbert](https://huggingface.co/ProsusAI/finbert), a fine-tuned BERT model to analyze sentiment of financial text. It is a multi-label classifier with 3 classes (_positive, negative, neutral_) but the examp

[2021-07-02 14:29] abasse commented on #99
I'm running into the same error with the model. Here is the trace

bassea@AP15557 spago % ./bart-server server --repo=./models --model=valhalla/distilbart-mnli-12-3 --tls-disable
Start loading pre-trained model from "models/valhalla/distilbart-mnli-12-3"
[1/2] Loading configuration... ok
[2/2] Loading model weights... ok
Start non-TLS gRPC server listening on 0.0.0.0:1976.
Start non-TLS HTTP serve

[2021-07-02 16:11] matteo-grella commented on #99
@abasse Please try the following curl and let me know how it goes.

[code]

[2021-07-02 16:20] abasse commented on #99
@matteo-grella Thanks! It's working.

[2021-07-02 16:20] #99 closed

[2021-07-02 16:23] matteo-grella commented on #99
By the way, I am using a Apple M1 and the results are not what they should be...

[2021-07-02 16:38] abasse commented on #99
I'm still on Intel. Interesting that ARM shows different results. Any ideas why that is happening?

[2021-07-02 16:41] matteo-grella commented on #99
I'm investigating, and I'll open a dedicated issue for that. Did you get the expected result in the Intel architecture?

[2021-07-02 16:50] abasse commented on #99
Yes, the Intel results look ok so far. It's not fast, a request takes about 10-15 seconds on my MacBook Pro i7.

[2021-07-02 16:55] matteo-grella commented on #99
Ops.. It should take less than a second! What are your CPU details (Ghz, cache) and your RAM?

[2021-07-02 17:18] abasse commented on #99
3,3 GHz Dual-Core Intel Core i7, 16 GB 2133 MHz LPDDR3

[2021-07-02 17:59] matteo-grella commented on #99
@jjviana any ideas?

[2021-07-03 02:48] jimidle commented on #100
Thank you for the pointer Matteo. This code at least shows me that I was doing the right thing Spago-wise.

However, after loading my model, the Classifier.Config only contains the two default labels `LABEL_0` and `LABEL_1`. So, I suspect that my previous question about saving the my fine-tuned Lightning model in a form that Spago can load is the key here. I must not be saving it correctly.

I won

[2021-07-03 07:36] jimidle commented on #100
Thanks Matteo - that hint got me on the right path and it was indeed an issue with not exporting the right model from the Python code. Specifically PyTorch Lightning. Then I had to fix the config.json output. I get the same labels from my Spago code as the Python code, though it is a little different in processing, which is fine, as teh Spago output is more what I want.

Anyway, I know what I am d

[2021-07-03 07:36] #100 closed

[2021-07-06 04:50] #98 closed

[2021-07-06 05:27] jimidle opened #101 "bart-large-mnli multi_class does not agree with Python version"
If you convert `facebook/bart-large-mnli` and use it to evaluate the demo text at [huggingface](https://huggingface.co/facebook/bart-large-mnli) and compare against a local Python setup for verification, we find that:

  - the online demo card and the local Python agree on the label score
  - the label probabilities given back are vastly different
  - the Python version takes roughly 16 seconds on

[2021-07-07 14:13] jjviana commented on #99
On my 2.3 GHZ, 8-core Intel i9 it also takes a little less than one second. Maybe the number of cores is the issue?

[2021-07-24 22:06] silverark opened #102 "Suitable for categorising intents and slots?"
Firstly, thins looks awesome! Thanks for your hard work on it.

We current have a very simple bot written in Go that our team can send messages to which we are looking to upgrade. It currently works out the "Intent" of the user based on some regex and bag of words but it's not very good!

We were looking at Rasa who let you define your Intents with examples which you can then use to train your mod

[2021-07-26 16:14] matteo-grella commented on #102
Hey!

Check [here](https://github.com/matteo-grella/gophercon-eu-2021/tree/main/examples/text_similarity2) to see if you can find something hints. For textual similarity, I used [LaBSE](https://ai.googleblog.com/2020/08/language-agnostic-bert-sentence.html), but I suspect monolingual models would be more suitable for your needs.

Did you know about this paper? [BERT for Joint Intent Classification

[2021-07-29 19:19] silverark commented on #102
Thanks for the feedback. I will do a bit of reading and then maybe give it a crack!

[2021-07-29 19:19] #102 closed

[2021-09-13 17:13] abishekmuthian opened #103 "Differences in the output of zero shot classification between python & spago for the same model"
I appreciate everyone involved with the spago project for developing a proper Machine Learning framework for Go.

I'm in the process of exploring spago and found that the output for  `valhalla/distilbart-mnli-12-3`  differs for **zero shot classification** when using python vs spago .
[code]
[code]

[code]

[code]

Is this an expected behavior? If so why.

[2021-09-13 17:36] abishekmuthian opened #104 "Nearly 4 times the memory usage when compared to python for the same model"
I ran memory profiling for the code  https://github.com/nlpodyssey/spago/issues/103 and spago version uses 3.9 GB  when compared to  1.2 GB of python. The model sizes are similar `valhalla/distilbart-mnli-12-3` , it is 2.5 GB after transforming (hf-importer) to spago and where as upstream python version is 2.1 GB.

Memory profiling in spago

![memory_prof](https://user-images.githubusercontent.com

[2021-09-14 02:58] abishekmuthian commented on #101
I didn't read this issue properly and might have opened a duplicate - https://github.com/nlpodyssey/spago/issues/103 .

Have you found any further information regarding this since you've opened the issue?

[2021-09-29 18:04] matteo-grella commented on #101
Hello both of you @jimidle and @abishekmuthian. I apologize for taking so long to respond!

I somehow missed the GitHub notifications, and @marco-nicola was sure I had already dealt with your request.

In fact, this is not a desired behavior. Here we probably have either a bug or a serious loss of accuracy during the various steps of the forward.

Need to investigate, probably comparing the interm

[2021-09-30 04:53] abishekmuthian commented on #101
Thanks for getting back @matteo-grella , GitHub seems to remove notifications from the site if it sends the email and your emails might not be reaching your inbox.

It does indeed seem to be a serious bug. I can test the project if there's any new patches, But I'm afraid I cannot aid in active debugging immediately due to time constraint.

[2021-10-24 15:14] go-dockly opened #106 "Gorgonia tensors"
Hi Matteo
in your gophercon deck you mentioned to have gpu friendly gorgonia tensors on spago's roadmap.
I am curious about how this might work. Could you give any pointers.
I suppose because the tensors are more or less just a slice of floats?
I read on their git that with regards to cuda the api is expected to change quite a bit before hitting v1.0.
Currently on 0.9.17 so I guess not before gorg

[2021-12-01 18:17] matteo-grella commented on #101
Hey @abishekmuthian,

It was a simple _True_ flag that was supposed to be a _False_ flag that confused us both!

Hence, with spaGO, output is forced to be a distribution (sum must be 1), whereas with Python, the output is free.
In fact, the scores reported from you [here](https://github.com/nlpodyssey/spago/issues/103) do not sum to 1.

Let me know

Matteo

[2021-12-01 18:21] matteo-grella commented on #103
Solved #101

[2021-12-01 18:24] matteo-grella commented on #104
Hey @abishekmuthian

after [this](https://github.com/nlpodyssey/spago/commit/65601b371df9436eb4f11a57c48ea4e463057287) change, we experimented that the memory usage is 2 times Python for the same model.

We've probably found a way to reduce further, I'll keep you posted!

[2021-12-02 16:53] abishekmuthian commented on #101
I see, Glad that the issue was simple to identify and fix. I will conduct some more tests this weekend and get back.

[2021-12-02 16:59] abishekmuthian commented on #104
That's good news! Bringing the memory consumption on-par with python would definitely motive more to adopt spago for their ML workflow.

[2022-01-02 16:47] Tonghua-Li opened #108 "QA model result does not match python version"
Using this [Chinese model](https://huggingface.co/luhua/chinese_pretrain_mrc_roberta_wwm_ext_large?context=%E6%88%91%E5%8F%AB%E5%85%8B%E6%8B%89%E6%8B%89%EF%BC%8C%E6%88%91%E4%BD%8F%E5%9C%A8%E4%BC%AF%E5%85%8B%E5%88%A9%E3%80%82&question=%E6%88%91%E7%9A%84%E5%90%8D%E5%AD%97%E6%98%AF%E4%BB%80%E4%B9%88%EF%BC%9F)

Similar to  #101, but I cannot find the bool parameter for QA.

Translated QA:
Context: My

[2022-01-03 15:59] matteo-grella commented on #108
Thanks @Tonghua-Li to experiment spaGO on Chinese models! Let me take a look.

In the meantime, did you check already if the output from the tokenization matches the one in Python/Rust?

[2022-01-05 01:47] Tonghua-Li commented on #108
@matteo-grella , I am new to NLP and tensorflow.

Here is the comparison between spago and python, lengths are different. Anything else I should check?

spago
[code]

python
[code]

[2022-01-24 08:00] MichailVestnik commented on #17
Very cool project!
Really need an example of working with other languages and especially Russian.
Ready to contribute to the project in this direction, (especially interested in answers to questions in Russian), but unfortunately I can not yet figure out how to get started.
If anyone has an example of use - please share in the examples.

[2022-02-13 13:51] abishekmuthian commented on #101
@matteo-grella

Got back to testing Spago.

If I understand your last comment correctly, multiClass flag in Spago is !multi_label flag of Python i.e. It needs to be false to enable it.

Making it false does distribute the confidence values to ~1 but still doesn't match the python #103.

Model:  spago/valhalla/distilbart-mnli-12-3

Text:  "PalmOS on Raspberry Pi"

* *Spago multiClass:false**

[code

[2022-02-13 22:12] matteo-grella commented on #101
@marco-nicola

[2022-04-26 16:11] jjviana opened #111 "v1.0.0-alpha.0: operator gradients are sometimes null in non-obvious ways"
1. Download the imdb sentiments dataset from here: https://drive.google.com/drive/folders/1PZUyks3g1rvoSR9ZSaWr7hy61NQifcoq?usp=sharing
2. Try to train a model with the following parameters:
./perceiver train -i train.shuf.csv --test-file validation.csv -j 32 -s 21 -k 2 -g 1 -e 1 -o imdb-minimal-2l.model -n 1

At some random point in training the following error will occur:
goroutine 4813637 [runn

[2022-05-02 06:17] linkerlin opened #112 "The `deepset` dir must created by manually"
In the ~/.spago dir:
There is no deepset , if we do not create it for  the huggingface-importer.

[2022-05-02 06:19] linkerlin commented on #112
And the `~/.spago/deepset/bert-base-cased-squad2/`

[2022-05-02 06:37] linkerlin commented on #112
spago make a dir named `~` in the spago source code dir, not in the home-dir.

[2022-05-02 06:57] linkerlin commented on #112
more `homedir.Expand()` need to convert path `~` to HomeDir

[2022-05-02 19:53] akhudek opened #113 "flair models no longer work"
In particular, running this example:

https://github.com/nlpodyssey/spago-examples/tree/main/examples/named_entities_recognition

with the provided example model and sentence produces nonsense tags.

My go version is:
go version go1.18.1 darwin/arm64

[2022-05-08 12:55] matteo-grella commented on #113
Hi @akhudek

Could you try compiling with `GOARCH=amd64` and let me know?

[2022-05-09 09:54] #111 closed

[2022-05-13 18:12] akhudek commented on #113
Yep, that works. So it's an M1 target that causes it. Thanks.

[2022-05-16 13:49] #113 closed

[2022-08-03 09:46] #8 closed

[2022-08-03 09:46] #32 closed

[2022-08-03 09:46] #37 closed

[2022-08-03 09:47] matteo-grella commented on #46
Yes, it’s a wonderful framework!

[2022-08-03 09:47] #46 closed

[2022-08-18 09:26] zannet opened #115 "How to train a lstm network with spago?"